{% extends 'register-base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div id="main-wrapper" class="oxyy-login-register">
  <div class="container-fluid px-0">
    <div class="row g-0 min-vh-100"> 
      <!-- Welcome Text
      ========================= -->
      <div class="col-md-6">
        <div class="hero-wrap d-flex align-items-center h-100">
          <div class="hero-mask opacity-8 bg-primary"></div>
          <div class="hero-bg hero-bg-scroll" style="background-image:url('{% static 'images/login-bg.jpg' %}')"></div>
          <div class="hero-content w-100 min-vh-100 d-flex flex-column">
            <div class="row g-0">
              <div class="col-11 col-sm-10 col-lg-9 mx-auto">
                <div class="logo mt-5 mb-5 mb-md-0"> <a class="d-flex BigSheriffLogo" href="{% url 'login' %}" title="BigSheriffData"><img src="{% static 'images/BSD-LOGO-WHITE4.png' %}" alt="BigSheriffData"></a> </div>
              </div>
            </div>
            <div class="row g-0 my-auto">
              <div class="col-11 col-sm-10 col-lg-9 mx-auto">
                <h1 class="text-11 text-white mb-4">Welcome back!</h1>
                <p class="text-4 text-white lh-base mb-5">We are glad to see you again! Get access to your Account.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Welcome Text End --> 
      
      <!-- Login Form
      ========================= -->
      <div class="col-md-6 d-flex">
        <div class="container my-auto py-5">
          <div class="row g-0">
            <div class="col-11 col-sm-10 col-lg-9 col-xl-8 mx-auto">
              
              <h3 class="fw-600 mb-4">Log In</h3>
              <form id="loginForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" class="form-control" id="username" name="username" required placeholder="Enter Your Username">
                </div>
                <div class="mb-3 password-field">
                  <label for="loginPassword" class="form-label">Password</label>
                  <input type="password" class="form-control" id="loginPassword" name="password" required placeholder="Enter Password">
                  <img src="{% static 'images/password-eye/eye-close.png' %}" id="eyeicon">
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <div class="form-check">
                      <input id="remember-me" name="remember" class="form-check-input" type="checkbox">
                      <label class="form-check-label" for="remember-me">Remember Me</label>
                    </div>
                  </div>
                  <div class="col text-end"><a href="{% url 'password_reset' %}">Forgotten Password ?</a></div>
                </div>
                <div class="d-grid my-4">
					        <button class="btn btn-primary" type="submit" id="loginButton">Login</button>
                  <button class="btn btn-primary" type="button" id="authButton" style="display: none;" disabled>Authenticating...</button>
				        </div>
              </form>
              <p class="text-center text-muted mb-0">Don't have an account? <a class="link-primary" href="{% url 'register' %}">Sign Up</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Login Form End --> 
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

  let password = document.getElementById("loginPassword");
  let eyeicon = document.getElementById("eyeicon");

  eyeicon.onclick = function() {
    if (password.type == "password") {
      password.type = "text";
      eyeicon.src = "{% static 'images/password-eye/eye-open.png' %}";
    } else {
      password.type = "password";
      eyeicon.src = "{% static 'images/password-eye/eye-close.png' %}";
    }
  }

  $(document).ready(function() {

    $('#loginForm').on('submit', function(event) {
      event.preventDefault();

      // Hide the login button and show the authentication button
      $('#loginButton').hide();
      $('#authButton').show();

      const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
      var formData = $('#loginForm').serialize();

      $.ajax({
        type: 'POST',
        url: '/api/login/',
        data: formData,
        headers: {
          'X-CSRFToken': csrfToken
        },
        success: function(response) { 
          console.log(response); // Log the entire response object for debugging

          const token = response.token;
          if (token) {
            // Show the SweetAlert auto-close message
            let timerInterval;
            Swal.fire({
              title: "Welcome!",
              html: "You are now logged in. Redirecting in <b></b> milliseconds.",
              timer: 2000,
              timerProgressBar: true,
              didOpen: () => {
                Swal.showLoading();
                const timer = Swal.getPopup().querySelector("b");
                timerInterval = setInterval(() => {
                    timer.textContent = `${Swal.getTimerLeft()}`;
                }, 100);
              },
              willClose: () => {
                  clearInterval(timerInterval);
              }
            }).then((result) => {
              if (result.dismiss === Swal.DismissReason.timer) {
                console.log("I was closed by the timer");
              }
              // Redirect to the profile page
              window.location.href = "{% url 'index' %}";
            });

            localStorage.setItem('token', token);
          } else {
            alert('Token not received in response.');
          }
          // Hide the authentication button and show the login button again (in case of error)
          $('#authButton').hide();
          $('#loginButton').show();
        },
        error: function(xhr, status, error) {
          // Parse the error response from the server
          const errorResponse = xhr.responseJSON;
          const errorMessage = errorResponse.message || "Something went wrong!"; // Default message

          // Display SweetAlert with the error message
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: errorMessage,
            footer: '<a href="#">Why do I have this issue?</a>'
          });

          // Show the login button again
          $('#authButton').hide();
          $('#loginButton').show();
        }
      });
    });
  });
    
</script>

{% endblock content %}