{% extends 'register-base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div id="main-wrapper" class="oxyy-login-register">
    <div class="container-fluid px-0">
      <div class="row g-0 min-vh-100"> 
        <!-- Welcome Text
        ========================= -->
        <div class="col-md-6">
          <div class="hero-wrap d-flex align-items-center h-100">
            <div class="hero-mask opacity-8 bg-primary"></div>
            <div class="hero-bg hero-bg-scroll" style="background-image:url('{% static 'images/login-bg.jpg' %}')"></div>
            <div class="hero-content w-100 min-vh-100 d-flex flex-column">
              <div class="row g-0">
                <div class="col-11 col-sm-10 col-lg-9 mx-auto">
                  <div class="logo mt-5 mb-5 mb-md-0"> <a class="d-flex" href="index.html" title="Oxyy"><img src="{% static 'images/logo-light.png' %}" alt="Oxyy"></a> </div>
                </div>
              </div>
              <div class="row g-0 my-auto">
                <div class="col-11 col-sm-10 col-lg-9 mx-auto">
                  <h1 class="text-11 text-white mb-4">We care about your account security</h1>
                  <p class="text-4 text-white lh-base mb-5">We are glad to help you gain access to your Account.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Welcome Text End --> 
        
        <!-- Password Reset Form
        ========================= -->
        <div class="col-md-6 d-flex">
          <div class="container my-auto py-5">
            <div class="row g-0">
              <div class="col-11 col-sm-10 col-lg-9 col-xl-8 mx-auto">

                <div class="alert alert-info mt-5">
                    An email has been sent with instructions to reset your password
                </div>

            </div>
          </div>
        </div>
        <!-- Password Reset Form End --> 
      </div>
    </div>
  </div>

{% endblock content %}