:root {
    --primary-color: rgb(18, 102, 227);
    --secondary-color: rgb(255, 255, 255);
    --field-color: rgb(237, 241, 251);
    --text-color: rgb(3, 70, 138);
    --text-color-2: rgb(0, 0, 0);
}