{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="register">
    <div class="dash-board-main-wrapper">
        <div class="main-center-content-m-left center-content">
            <div class="rts-register-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- single login area start -->
                            <div class="single-form-s-wrapper">
                                <div class="head">
                                    <h5 class="title">Transfer Your Bonus To Your Wallet</h5>
                                </div>
                                <div class="body row">
                                    <form action="#" class="px-md-3 col-sm-12">
                                        <div class="input-wrapper">
                                            <input type="text" placeholder="Amount" name="amount" maxlength="30" class="textinput textInput form-control" id="id_amount">
                                        </div>
                                        <button class="rts-btn btn-primary">Proceed</button>
                                    </form>
                                </div>
                            </div>
                            <!-- single login area end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}