{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="register">
    <div class="dash-board-main-wrapper">
        <div class="main-center-content-m-left center-content">
            <div class="rts-register-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- single login area start -->
                            <div class="single-form-s-wrapper">
                                <div class="head">
                                    <span>Start your Journey with the</span>
                                    <h5 class="title">BEST DATA PLAN</h5>
                                </div>
                                <div class="body row">
                                    <form action="#" class="col-md-8 px-md-3 col-sm-12">
                                        <div class="input-wrapper">
                                            <select name="network" class="select color-white-title-home" required="" id="id_network">
                                                <option value="" disabled selected>Select Network</option>
                                              
                                                <option value="1">MTN</option>
                                              
                                                <option value="2">GLO</option>
                                              
                                                <option value="3">9MOBILE</option>
                                              
                                                <option value="4">AIRTEL</option>
                                              
                                            </select>
                                            <select name="data_type" class="select color-white-title-home" id="id_data_type">
                                                <option value="" disabled selected>Data Type</option>
                                              
                                                <option value="CORPORATE GIFTING">CORPORATE GIFTING</option>
                                              
                                                <option value="GIFTING">GIFTING</option>
                                              
                                                <option value="SME">SME</option>
                                              
                                                <option value="SME2">SME2</option>
                                              
                                                <option value="DATA COUPONS" style="display: none;">DATA COUPONS</option>
                                              
                                                <option value="DATA SHARE">DATA SHARE</option>
                                              
                                                <option value="AWOOF GIFTING">AWOOF GIFTING</option>
                                              
                                            </select>
                                            <input type="text" placeholder="Mobile Number" name="mobile_number" maxlength="11" minlength="11" required="" id="id_mobile_number">
                                            <input type="text" placeholder="Amount" name="amount" maxlength="11" minlength="2" required="" id="id_Amount">
                                        </div>
                                        <div class="check-wrapper">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Bypass number validator
                                                </label>
                                            </div>
                                        </div>
                                        <button class="rts-btn btn-primary">Buy Now</button>
                                    </form>
                                    <div class="col-sm-12 col-md-4 px-md-3 mt-3 data-codes">
                                        <center>
                                            <h4 class="color-white-title-home">Codes for Data Balance </h4>
                                        </center>
                                        <ul class="list-group">
                                            <li class="list-group-item list-group-item-warning">MTN [SME] *461*4# </li>
                                            <li class="list-group-item list-group-item-warning">MTN [Gifting] *131*4# or *460*260# </li>
                                            <li class="list-group-item list-group-item-dark"> 9mobile [Gifting] *228# </li>
                                            <li class="list-group-item list-group-item-danger"> Airtel *140# </li>
                                            <li class="list-group-item list-group-item-success"> Glo *127*0#. </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single login area end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


<form class="formStyle" id="step buy-airtime-form" novalidate onsubmit="return false">

    <article class="formHeading">
        <!-- <p>Start your Journey with the</p> -->
        <h2>Airtime TopUp</h2>
    </article>

    {% csrf_token %}

    <div class="row">
        <div class="col-md-12">
            <div class="inputField inputFieldDropdown">
                <label>Select Network</label>
                {{ form.network }}
                <div class="formStyle"></div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="inputField inputFieldDropdown">
                <label>Airtime Type</label>
                {{ form.data_type }}
                <div class="formStyle"></div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="inputField">
                <label>Mobile Number</label>
                {{ form.mobile_number }}
                <div class="formStyle"></div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="inputField">
                <label>Amount</label>
                {{ form.amount }}
                <div class="formStyle"></div>
            </div>
        </div>

        <!-- Bypass Validator Checkbox -->
        <div class="form-group">
            <div class="check-wrapper">
                <div class="form-check">
                    <label for="{{ form.bypass_validator.id_for_label }}">Bypass Number Validator</label>
                    {{ form.bypass_validator }}  <!-- Checkbox Field -->
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <button type="submit" class="form-Btn w-100">
                Buy Now
                <div class="formStyle"></div>
            </button>
        </div>

</form>



{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css " />

    <!-- theme colors -->
    <link rel="stylesheet" href="{% static 'formCSS/assets/css/colors.css' %}" />

    <!-- Theme Style -->
    <link rel="stylesheet" href="{% static 'formCSS/assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'formCSS/assets/css/animation.css' %}" />
    <link rel="stylesheet" href="{% static 'formCSS/assets/css/responsive.css' %}" />

<div class="register">
    <div class="dash-board-main-wrapper">
        <div class="main-center-content-m-left center-content">
            <div class="rts-register-area">
                <section class="FormMain">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-12 lap-sm-100 tab-100">
                                <!-- FOrm -->
                                <form class="formStyle step" novalidate onsubmit="return false">
                                    <article class="formHeading">
                                        <p>Start your Journey with the</p>
                                        <h2>BigSheriffData</h2>
                                    </article>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="inputField inputFieldDropdown">
                                                <label>Network</label>
                                                <select name="network">
                                                  
                                                    <option value="" disabled selected>------</option>

                                                    <option value="1">MTN</option>
                                                  
                                                    <option value="2">GLO</option>
                                                  
                                                    <option value="3">9MOBILE</option>
                                                  
                                                    <option value="4">AIRTEL</option>
                                                  
                                                </select>
                                                <div class="formStyle"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="inputField inputFieldDropdown">
                                                <label>Data Type</label>
                                                <select name="data_type">
                                                    <option value="" disabled selected>------</option>
                                                  
                                                    <option value="CORPORATE GIFTING">CORPORATE GIFTING</option>
                                                  
                                                    <option value="GIFTING">GIFTING</option>
                                                  
                                                    <option value="SME">SME</option>
                                                  
                                                    <option value="SME2">SME2</option>
                                                  
                                                    <option value="DATA COUPONS" style="display: none;">DATA COUPONS</option>
                                                  
                                                    <option value="DATA SHARE">DATA SHARE</option>
                                                  
                                                    <option value="AWOOF GIFTING">AWOOF GIFTING</option>
                                                  
                                                </select>
                                                <div class="formStyle"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="inputField">
                                                <label>Mobile Number</label>
                                                <input type="text" name="mobile_number" maxlength="11" minlength="11" required="">
                                                <div class="formStyle"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="inputField">
                                                <label>Amount</label>
                                                <input type="text" name="amount" maxlength="11" minlength="2" required="">
                                                <div class="formStyle"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="form-Btn w-100">
                                                Buy Now
                                                <div class="formStyle"></div>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock content %}



<!-- AIRTIME -->

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css " />

    <!-- theme colors -->
    <link rel="stylesheet" href="{% static 'formCSS/assets/css/colors.css' %}" />

    <!-- Theme Style -->
    <link rel="stylesheet" href="{% static 'formCSS/assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'formCSS/assets/css/animation.css' %}" />
    <link rel="stylesheet" href="{% static 'formCSS/assets/css/responsive.css' %}" />

<div class="register">
    <div class="dash-board-main-wrapper">
        <div class="main-center-content-m-left center-content">
            <div class="rts-register-area">
                <section class="FormMain">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-12 lap-sm-100 tab-100">
                                <form class="formStyle step" id="buy-airtime-form" novalidate onsubmit="return false">
                                    {% csrf_token %}
                                    <article class="formHeading">
                                        <p>TopUp your Airtime With BigSheriffData</p>
                                        <h2>Airtime TopUp</h2>
                                    </article>
                                
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="inputField inputFieldDropdown">
                                                <label>Select Network</label>
                                                {{ form.network }}
                                                <div class="formStyle"></div>
                                            </div>
                                        </div>
                                
                                        <div class="col-md-12">
                                            <div class="inputField inputFieldDropdown">
                                                <label>Airtime Type</label>
                                                {{ form.data_type }}
                                                <div class="formStyle"></div>
                                            </div>
                                        </div>
                                
                                        <div class="col-md-12">
                                            <div class="inputField">
                                                <label>Mobile Number</label>
                                                {{ form.mobile_number }}
                                                <div class="formStyle"></div>
                                            </div>
                                        </div>
                                
                                        <div class="col-md-12">
                                            <div class="inputField">
                                                <label>Amount</label>
                                                {{ form.amount }}
                                                <div class="formStyle"></div>
                                            </div>
                                        </div>
                                
                                        <!-- Bypass Validator Checkbox -->
                                        <div class="form-group">
                                            <div class="check-wrapper">
                                                <div class="form-check">
                                                    <label for="{{ form.bypass_validator.id_for_label }}">Bypass Number Validator</label>
                                                    {{ form.bypass_validator }}  <!-- Checkbox Field -->
                                                </div>
                                            </div>
                                        </div>
                                
                                        <div class="col-md-12">
                                            <button type="submit" class="form-Btn w-100">
                                                Buy Now
                                                <div class="formStyle"></div>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>