{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

    <link rel="stylesheet" href="{% static 'assets/css/cards.css' %}">

    <div class="main-center-content-m-left main-center-content-m-left">
        <div class="banner-badge bg_image">
            <div class="inner">
                <h3 class="title">Welcome to <br> BigSheriffData</h3>
                <p class="dsic">
                    Refer people to BigSheriff.com and get 5% of their first payment<br>
                    <strong>Referral Link:</strong> 
                    <span id="referralLink">{{ referral_link }}</span>
                    <span onclick="copyReferralLink()" class="btn btn-sm btn-outline-primary">Copy</span>
                </p>                
                {% if has_filled_fund_form %}
                    <!-- Open modal directly -->
                    <a href="#" class="rts-btn btn-blur" data-bs-toggle="modal" data-bs-target="#exampleModal">Fund Wallet</a>
                {% else %}
                    <!-- Redirect to form page -->
                    <a href="{% url 'fund_wallet_form' %}" class="rts-btn btn-blur">Fund Wallet</a>
                {% endif %}
                <div class="inner-right-iamge">
                    <img src="{% static 'assets/images/banner/airtime-banner4.jpg' %}" alt="banner">
                </div>
            </div>
        </div>
        <div class="search__generator mt--50">
            <marquee class="color-white-title-home" style="background-color: rgba(255, 255, 255, 0);padding: 10px; font-size: 25px;">  Welcome to BIG_SHERIFF_DATA!We're here to help and support you every step of the way. Need assistance? Simply chat with us on WhatsApp at +2347015863588. Our team is ready to assist you!" </marquee>

            <h4 class="title color-white-title-home">Welcome, {{ request.user.username }}</h4>

            <div class="cards-grid">
                <div class="card card-wallet banner-badge bg_image">
                    <div class="card-header">
                        <i class="fas fa-wallet card-icon"></i>
                        <h3 class="card-title">Wallet Balance</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-label">Current Balance:</p>
                        <p class="card-value">₦{{ balance|intcomma }}</p>
                    </div>
                </div>

                <div class="card card-referral banner-badge bg_image">
                    <div class="card-header">
                        <i class="fas fa-gift card-icon"></i>
                        <h3 class="card-title">Referral Bonus</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-label">Current Bonus:</p>
                        <p class="card-value">₦{{ referral_bonus|floatformat:2 }}</p>
                    </div>
                </div>
                
                <div class="card card-total-referral banner-badge bg_image">
                    <div class="card-header">
                        <i class="fas fa-user-plus card-icon"></i>
                        <h3 class="card-title">My Total Referral</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-label">Total Referrals:</p>
                        <p class="card-value">{{ total_referrals }}</p>
                    </div>
                </div> 
                
                {% if user.is_superuser %}

                    <div class="card card-user-balance banner-badge bg_image">
                        <div class="card-header">
                            <i class="fas fa-scale-balanced card-icon"></i>
                            <h3 class="card-title">Total User balance</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-label">Users Balance:</p>
                            <p class="card-value">₦{{ total_balance|intcomma }}.00</p>
                        </div>
                    </div>

                    <div class="card card-registered-users banner-badge bg_image">
                        <div class="card-header">
                            <i class="fas fa-users card-icon"></i>
                            <h3 class="card-title">Total Registered Users</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-label">Total Users:</p>
                            <p class="card-value">{{ total_users|intcomma }}</p>
                        </div>
                    </div>

                    <div class="card card-commission banner-badge bg_image">
                        <div class="card-header">
                            <i class="fas fa-percent card-icon"></i>
                            <h3 class="card-title">Total User Commission</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-label">Current Balance:</p>
                            <p class="card-value">₦{{ total_bonus|intcomma }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>

            <h4 class="color-white-title-home my-5">Quick Access</h4>
            <div class="premium-service-container">

                <a href="{% url 'airtime-topUp' %}" class="premium-service-card">
                    <div class="card-content">
                         <img src="https://chismertelecom.com.ng/media/Image/airtime.png" alt="Airtime Top Up" class="premium-service-icon">
                        <p class="premium-service-label">Airtime TopUp</p>
                    </div>
                </a>
        
                <a href="{% url 'buydata' %}" class="premium-service-card">
                    <div class="card-content">
                        <img src="https://png.pngtree.com/png-vector/20240912/ourmid/pngtree-blue-3d-wifi-icons-on-a-transparent-backgorund-png-image_13820662.png" alt="Buy Data" class="premium-service-icon">
                        <p class="premium-service-label">Buy Data</p>
                    </div>
                </a>
        
                <a href="{% url 'cable_subscription' %}" class="premium-service-card">
                    <div class="card-content">
                        <img src="https://img.icons8.com/?size=512&id=47556&format=png" alt="Cable Subscription" class="premium-service-icon">
                        <p class="premium-service-label">Cable Subscription</p>
                    </div>
                </a>
        
                <a href="{% url 'bill_payment' %}" class="premium-service-card">
                     <div class="card-content">
                        <img src="https://cdn-icons-png.flaticon.com/512/9746/9746847.png" alt="Electricity Bill" class="premium-service-icon">
                        <p class="premium-service-label">Electricity Bill</p>
                    </div>
                </a>
        
                <a href="{% url 'waec' %}" class="premium-service-card">
                     <div class="card-content">
                        <img src="https://play-lh.googleusercontent.com/xFa1pORFN4rZQYOS4IrDQCSBAhcJuEFHmNhmY_hmCyAj6WORGwV1N3fdi8rT93tNjw" alt="WAEC Pin" class="premium-service-icon">
                        <p class="premium-service-label">Waec Pin</p>
                    </div>
                </a>
        
                <a href="{% url 'jamb' %}" class="premium-service-card">
                     <div class="card-content">
                        <img src="https://upload.wikimedia.org/wikipedia/en/2/2e/Official_JAMB_logo.png" alt="JAMB Pin" class="premium-service-icon">
                        <p class="premium-service-label">Jamb Pin</p>
                    </div>
                </a>

                <a href="{% url 'bonus-to-wallet' %}" class="premium-service-card">
                    <div class="card-content">
                       <img src="https://cdn3d.iconscout.com/3d/premium/thumb/crowdfunding-3d-icon-download-in-png-blend-fbx-gltf-file-formats--donation-savings-coin-dollar-box-financial-technology-pack-business-icons-8411825.png?f=webp" alt="bonus to wallet" class="premium-service-icon">
                       <p class="premium-service-label">Bonus To Wallet</p>
                   </div>
               </a>

               {% if user.is_superuser %}
       
                    <a href="{% url 'Bank_Transfer' %}" class="premium-service-card">
                        <div class="card-content">
                            <img src="https://cdn3d.iconscout.com/3d/premium/preview/money-3d-icon-download-in-png-blend-fbx-gltf-file-formats--dollar-bundles-stack-bank-note-investment-pack-business-icons-6185113.png?f=webp&h=700" alt="Bank Transfer" class="premium-service-icon">
                            <p class="premium-service-label">Bank Transfer</p>
                        </div>
                    </a>
            
                    <a href="{% url 'create_notification' %}" class="premium-service-card">
                        <div class="card-content">
                            <img src="https://img.freepik.com/free-vector/realistic-notification-bell-3d-icon-isolated-white-background-new-notification-concept-social-media-element_145391-1218.jpg" alt="Notify Users" class="premium-service-icon">
                            <p class="premium-service-label">Notify Users</p>
                        </div>
                    </a>

                    <a href="{% url 'fund_wallet_form' %}" class="premium-service-card">
                        <div class="card-content">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-CBks1VTDc4Izl94SdT48vGPK0qZv-vE24Q&s" alt="fund-wallet-form" class="premium-service-icon">
                            <p class="premium-service-label">fund wallet form</p>
                        </div>
                    </a>
                {% endif %}
   
                <a href="{% url 'transaction_history' %}" class="premium-service-card">
                    <div class="card-content">
                        <img src="https://cdn3d.iconscout.com/3d/premium/thumb/transaction-book-3d-icon-download-in-png-blend-fbx-gltf-file-formats--account-accounting-financial-bank-shopping-retail-pack-e-commerce-icons-5175186.png" alt="Transactions" class="premium-service-icon">
                        <p class="premium-service-label">Transactions</p>
                    </div>
                </a>
        
            </div>

            <section class="mt-5 table-responsive">
                <div class="transaction-link">
                    <h4 class="color-white-title-home">Recent Transactions</h4>
                    <a href="{% url 'transaction_history' %}">View all transactions</a>
                </div>
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <!-- <th>Details</th> -->
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Transaction Id</th>
                        </tr>
                    </thead>
                    <tbody class="color-white-title-home">
                        {% for transaction in page_obj %}
                        <tr>
                            <td>{{ transaction.timestamp|date:"Y-m-d H:i" }}</td>
                            <td>{{ transaction.transaction_type }}</td>
                            <!-- <td>{{ transaction.product_name }}</td> -->
                            <td>{{ transaction.amount }}</td>   
                            <td>
                                {% if transaction.status == 'failed' %}
                                    <span class="text-danger status failed">Failed</span>
                                {% elif transaction.status == 'completed' %}
                                    <span class="text-success status success"">Success</span>
                                {% else %}
                                    <span class="text-warning status pending">Pending</span>
                                {% endif %}
                            </td>
                            <td>{{ transaction.transaction_id }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7">No transactions found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>

        </div>
        <div class="copyright-area-bottom">
            <p> <a href="#">BigSheriffDevelopers©</a> 2025. All Rights Reserved.</p>
        </div>
    </div>
    
    <!-- SweetAlert2 CDN (put in your base template or index.html head) -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        {% if notifications %}
          {% for note in notifications %}
            Swal.fire({
              title: "{{ note.title|escapejs }}",
              text: "{{ note.message|linebreaksbr|striptags|escapejs }}",
              icon: 'info',
              confirmButtonText: 'OK'
            });
          {% endfor %}
        {% endif %}
      
        function copyReferralLink() {
            const referralText = document.getElementById("referralLink").innerText;
            const copyButton = event.target;

            navigator.clipboard.writeText(referralText)
                .then(() => {
                    copyButton.innerText = "Copied";
                    // Optionally revert after a short delay
                    setTimeout(() => {
                        copyButton.innerText = "Copy";
                    }, 2000);
                })
                .catch(err => {
                    console.error(err);
                    copyButton.innerText = "Error";
                });
        }

    </script>
    
    


{% endblock content %}