{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'EducationCSS/assets/css/bootstrap/bootstrap.min.css' %}" />

    <!-- theme colors -->
    <link rel="stylesheet" href="{% static 'EducationCSS/assets/css/colors.css' %}" />

    <!-- Theme Style -->
    <link rel="stylesheet" href="{% static 'EducationCSS/assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'EducationCSS/assets/css/animation.css' %}" />
    <link rel="stylesheet" href="{% static 'EducationCSS/assets/css/responsive.css' %}" />

    <main class="overflow-hddien">
        <!-- container -->
        
            <!-- form -->
            <form class="revotForm fade-custom" novalidate onsubmit="return false" c>
                <!-- heading -->
                <h1 class="mainHeading color-white-title-home">JAMB REGISTRATION</h1>
                <div class="row">
                    <!-- Form Start -->
                    <div class="col-md-12">
                        <div class="textField">
                            <label class="color-white-title-home">ExamType</label>
                            <div class="fieldInner">
                                {{ form.exam_type }} 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="textField">
                            <label class="color-white-title-home">JAMB Profile ID</label>
                            <div class="fieldInner">
                                {{ form.jamb_profile_id }}  
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="textField">
                            <label class="color-white-title-home">Phone Number</label>
                            <div class="fieldInner">
                                {{ form.phone_number }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="textField">
                            <label class="color-white-title-home">Amount</label>
                            <div class="fieldInner">
                                {{ form.amount }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Submit button -->
                <button id="sub">Register Now</button>
            </form>
        </div>
    </main>

    <script>
        // Disable the first option ("Please Select Exam Type")
        document.querySelector("select[name='exam_type'] option[value='']").disabled = true;
    </script>
    


{% endblock content %}